header {
    background-color: blue;
    height: 100px;
    border-radius: 10px;
    margin: 5px
}
.container {
    display: flex;
}
article {
background-color: cornflowerblue;
    height: 700px;
    border-radius: 10px;
    flex-grow: 4;
    margin: 5px;
    order: 2
}
nav {
    background-color: coral;
height: 700px;
border-radius: 10px;
flex-grow: 1;
margin: 5px;
order: 1
}
aside {
    background-color: coral;
    height: 700px;
    border-radius: 10px;
    flex-grow: 1;
    margin: 5px;
    order: 3
}
footer {
    background-color: blue;
    height: 100px;
    border-radius: 10px;
    margin: 5px
}